.word-list {
  width: 100%;
  height: 100%;
  .search-filter {
    height: 100px;
    border: 1px solid;
    padding: 10px;
    display: flex;
    justify-content: center;
    .search {
      width: 50%;
      height: 100%;
      border: 1px solid;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .filter {
      width: 50%;
      height: 100%;
      border: 1px solid;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  .bookmark {
    width: 5%;
    display: flex;
    justify-content: flex-end;

    margin-right: -11px;

    .image-section {
      .image-bookmark {
        width: 30px;
        height: 26px;
        &:hover {
          cursor: pointer;
        }
      }
    }
  }
  .word-meaning {
    width: 100%;
  }
}
