<div class="word-list">
  <mat-accordion *ngFor="let item of words; let i = index">
    <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{item.word}}
        </mat-panel-title>
        <mat-panel-description>
          <!-- {{panelOpenState ? 'open' : 'closed'}} -->
        </mat-panel-description>

      </mat-expansion-panel-header>
      <div class="word-meaning">{{item.meaning}}</div>
      <div class="bookmark">
        <div class="image-section">
          <ng-container *ngIf="!item.bookmarked">
            <img (click)="onBookmark(item.word,item.meaning,i,'true')" class="image-bookmark"
              src="../../../assets/icons/icons8-bookmark-100.png">
          </ng-container>
          <ng-container *ngIf="item.bookmarked">
            <img (click)=" onBookmark(item.word,item.meaning,i,'false')" class="image-bookmark"
              src="../../../assets/icons/icons8-bookmarked-100.png">
          </ng-container>

        </div>
      </div>
    </mat-expansion-panel>
  </mat-accordion>
</div>
