@media only screen and (min-width: 300px) {
  .search-filter {
    width: -webkit-fill-available;
    height: 40px;
    padding: 6px;
    display: flex;
    justify-content: center;
    position: fixed;
    background-color: white;
    z-index: 1;
    -webkit-box-shadow: 0 10px 6px -6px #777;
    -moz-box-shadow: 0 10px 6px -6px #777;
    box-shadow: 0 10px 10px -8px #777;
    .search {
      background-color: white;
      width: 80%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      .input-type-text {
        width: 90px;
        box-sizing: border-box;
        border: 2px solid #887979;
        border-radius: 30px;
        font-size: 12px;
        background-color: white;
        background-position: 10px 10px;
        background-repeat: no-repeat;
        padding: 6px 10px 6px 10px;
        transition: width 0.4s ease-in-out;
      }

      input[type='text']:focus {
        width: 100%;
        outline: none;
      }
    }
    .filter {
      background-color: white;
      width: 20%;
      height: 100%;
      display: flex;
      justify-content: flex-end;
      align-items: center;
    }
  }
}
// desktop
@media only screen and (min-width: 700px) {
  .search-filter {
    width: -webkit-fill-available;
    height: 40px;
    padding: 10px;
    display: flex;
    justify-content: center;
    position: fixed;
    background-color: white;
    z-index: 1;
    .search {
      background-color: white;
      width: 80%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      //
      .input-type-text {
        width: 50%;
        box-sizing: border-box;
        border: 2px solid #887979;
        border-radius: 30px;
        font-size: 16px;
        background-color: white;
        // background-image: url('../../../assets/icons/icons8-search-30.png');
        background-position: 10px 10px;
        background-repeat: no-repeat;
        padding: 6px 8px 6px 8px;
        -webkit-transition: width 0.4s ease-in-out;
        transition: width 0.4s ease-in-out;
      }

      input[type='text']:focus {
        width: 100%;
        outline: none;
      }
      //
    }
    .filter {
      background-color: white;
      width: 20%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}

.word-list {
  width: 100%;
  height: 100%;
  padding: 80px 0px 0px 0px;
  .bookmark {
    width: 5%;
    display: flex;
    justify-content: flex-end;

    margin-right: -11px;

    .image-section {
      .image-bookmark {
        width: 30px;
        height: 26px;
        &:hover {
          cursor: pointer;
        }
      }
    }
  }
  .word-meaning {
    width: 100%;
  }
}
