.host-container {
  width: 100%;
  height: calc(100vh - 42px);
  margin-top: 0%;
  overflow-y: hidden;
}
.outlet-container {
  margin-top: 106px;
  // height: calc(100vh - 124px);
  // width: 100%;
  overflow-y: hidden;
}
.sub-header {
  margin-top: 58px;
  overflow-y: hidden;
}
