/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

html,
body,
div,
span,
applet,
object,
iframe,
pre,
a,
abbr,
acronym,
address,
cite,
del,
dfn,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
sub,
sup,
tt,
var,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
caption,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

html,
// body {
//   height: 100%;
// }
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}
// page css

// card
.mat-expansion-panel-body {
  padding: 0 24px 16px;
  display: flex !important;
}
.mat-expansion-panel:last-of-type {
  margin-top: 20px;
  margin-bottom: 20px;
}
.mat-expansion-panel:first-child {
  margin-top: 0px !important;
}
.mat-expansion-panel-spacing:last-child {
  margin-bottom: 10px !important;
}
.mat-tab-header {
  position: unset;
}
.mat-tab-link-container {
  width: 100% !important;
  position: fixed !important;
  box-shadow: 0px 2px 10px #aaaaaa;
  background-color: white;
}
